<h2>iMix</h2>
<p>Forget something?</p>
<%= form_for @recipe do |f| %>
<%= f.label :drink_name, "Keep em Comin!" %>
<%= f.text_field :drink_name %>
<%= f.submit "Submit" %>
<%= f.label :drink_name, "Kill it with FIRE!" %>
<%= f.text_field :drink_name %>
<%= f.submit "Submit" %>
<% end %>

<ul>
  <% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>

<%= link_to "Save", recipe_path(Recipe.last.id) %>
