<header class="navbar navbar-fixed-top">
  <ul class="nav">
    <li class="active">
     <li><%= link_to "Home", :root %></li>
   </li>
   <li><a href="#">About iMix</a></li>
   <li><a href="#">Blog</a></li>
   <li><a href="#">Contact</a></li>
 </ul>
 <nav class="navbar-inner">
  <div class="container">
    <div id="search_bar">
      <%= form_tag new_recipe_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>
    </div>
  </header>
</nav>
</div>


<table class="table table-striped">

  <% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.user_name %></td>
    <td><%= recipe.drink_name %></td>
    <td><%= recipe.state %></td>
    <td><%= recipe.ingredients_list %></td>
  </tr>
  <% end %>

</table>

