<h2>Almost Done!</h2>
<p>Select your ingredients...</p>
<p>Hand this off to your bartender...wait...and taste the magic...</p>


<ul>
  <li><%= @recipe.drink_name %></li>
  <li><%= @recipe.user_name %></li>
  <li><%= @recipe.state %></li>
</ul>

<%= form_for @recipe do |f| %>
<%= f.collection_select(:ingredients, @allIngredients, :id, :name ) %>
<%= f.submit "Submit" %>
<% end %>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>


<%= link_to "You've Been iMixed!", :root %>
<%= link_to "Edit", edit_recipe_path(Recipe.last.id) %>



