<h1>iMix</h1>
<h2><%= drink_name.name %></h2>
<%= form_for @ingredient do |f| %>
<%= f.label :name, "Add Ingredients" %>
<%= f.text_field :name %>
<%= f.text_field :name %>
<%= f.text_field :name %>
<%= f.text_field :name %>
<%= f.text_field :name %>
<%= f.text_field :name %>
<%= f.submit "Submit Ingredients" %>
<% end %>


