<h2>iMix</h2>
<p>Awesome! What's in this thing?!</p>
<%= form_for @recipe do |f| %>
<%= f.label :drink_name, "Add" %>
<%= f.text_field :drink_name %>
<%= f.submit "Submit" %>
<% end %>


<ul>
  <% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <% end %>
</ul>


<p>Great. Sound delicious yet? Sure it does!</p>


<%= link_to "Save and Pray", recipe_path(Recipe.last.id) %>


